@import './variable';
@import './media_mixins';

body {
  background-color: $athens-gray;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@include respond-to('small') {
  .mob-hide {
    display: none;
  }
}

.Toastify__toast-theme--colored.Toastify__toast--default, .Toastify__toast-theme--light {
  font-size: 0.9rem;
  background: $persian-blue !important;
  color: $c-gray-75 !important;
}

.Toastify__toast--success {
  font-size: 0.9rem;
  background: $persian-blue !important;
  color: $c-gray-75 !important;
}

.Toastify__toast--error {
  font-size: 0.9rem;
  background: $error-info !important;
  color: $c-gray-98 !important;
}

.Toastify__close-button--light {
  font-size: 0.9rem;
  color: $c-gray-90 !important;
  opacity: .8 !important;
}

.spinner-main-color {
  color: $persian-blue;
}

.spinner-secondary-color {
  color: $c-gray-75;
}

// when user open the emoji editor, showing backeground and quick actions
.activeMessage {
  background-color: $c-gray-98;
}


.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.toolbar-button-selected {
  background-color: green;
}

.DraftEditor-root {
  font-size: 15px;
  font-weight: normal;
}

.userBlockImages{
  margin-left: 10px;
  margin-right: 20px;
  img{
    border-radius: 5px;
    height: 30px;
    width: 30px;
    margin-left: -5px;
    box-shadow: $box-shadow-1;
    border: 2px solid white;
  }
}