@import './../../variable';
@import './../../media_mixins';

.eng-confirm-modal {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eng-confirm-modal-pop {
  border-radius: 4px;
  background: $bg-color-1;
  z-index: 9990;
  width: 400px;
  margin: auto;
  position: absolute;
  bottom: 200px;
  opacity: 1;
  animation: show .1s;
  // transform: scale(1);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  @include respond-to('small') {
    width: 80%;
    bottom: 200px;
  }
}
.eng-confirm-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9989;
  background-color: #000;
  opacity: 0.90;
  animation: show .1s;
}

@keyframes show {
  from {
    transform: scale(0);
    opacity: 0;
    z-index: -1;
  }
  to {
    opacity: 1;
    z-index: 999;
  }
}

.eng-confirm-header {
  border-bottom: 1px solid $c-gray-90;
  padding: 0 10px;
}

.eng-confirm-body {
  border-bottom: 1px solid $c-gray-90;
  padding: 0 10px;
}

.eng-confirm-footer {
  padding: 0 10px;
}