@import './../variable';

.modalHeaderWrapper {
  padding: 0 10px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .modelTitle {
    color: $c-gray-30;
    font-weight: 500;
  }

  .actionWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon {
    cursor: pointer;
    background-color: $c-gray-95;
    padding: 2px;
    height: 20px;
    width: 20px;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: $c-gray-70;
    animation: 0.2s;
    margin-left: 5px;
    margin-right: 5px;

    &:hover {
      background-color: $c-gray-70;
      color: $c-gray-90;
    }
  }
}

.loadingMore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $c-gray-60;
  font-size: 0.85rem;
}

.padddingLoader {
  padding: 50px 0;
}

.modalBodyWrapper {
  min-height: 200px;
  max-height: 600px;
  overflow-y: scroll;
  padding: 0 10px;

  .inputField {
    top: 0;
    position: sticky;
    background-color: white;
  }

  .buttonWrapper {
    height: 40px;
    max-width: 150px;
  }
}

.text {
  margin: 10px 0;
  font-size: 0.8rem;
  color: $c-gray-70;
}

.searchResultWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .profileWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .profilePicture {
      padding: 5px 0;
      img {
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
        box-shadow: $box-shadow-1
      }
    }
  
    .loggedinUserDetails {
      .loggedinUserName {
        font-size: 0.9rem;
        color: $c-gray-40;

        span {
          margin-left: 3px;
          font-size: 0.8rem;
          color: $c-gray-80;
        }
      }
  
      .loggedinUserDesig {
        font-size: 0.8rem;
        color: $c-gray-80;
      }
    }
  }

  .username {
    font-size: 0.9rem;
  }

  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 180px;

    div {
      margin-left: 6px;
    }
  }
}