@import './../variable';

.wrapper {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid $c-gray-95;
    height: 70px;

    .title {
      font-size: 1.1rem;
      font-weight: 400;
      color: $c-gray-40;
    }
  }

  .body {
    padding: 10px 10px;
    position: relative;

  }
}

.userList {
  padding: 10px 10px;
  overflow-y: scroll;

  .userContainer {
    .userWrapper {
      border: 1px solid $c-gray-98;
      padding: 10px 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .userInfo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .dp {
          margin-right: 10px;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }
        .nameAndDesination {
          .name {
            font-size: 1rem;
            color: $c-gray-40;
            display: block;

            .adminLabel {
              background-color: $jordy-blue;
              padding: 4px 7px;
              font-size: 0.75rem;
              border-radius: 10px;
              color: $font-color-5;
            }
          }
          .designation {
            font-size: 0.75rem;
            color: $c-gray-60;
            display: block;
          }
        }
      }
  
      .action {
  
      }
    }

    .leaveGroup {
      display: flex;
      justify-content: flex-end;
      margin-top: 50px;
    }
  }

  .showMore {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
  }

  .resultAppearText  {
    font-size: 0.8rem;
    color: $c-gray-40;
    padding: 10px 0;
    border-top: 1px solid $c-gray-90;
  }

  .noResultFound {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
  }
}

.separator {
  padding: 10px 0;
  font-size: 0.8rem;
  color: $c-gray-40;
  border-top: 1px solid $c-gray-90;
}

.tabWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;

  .tab {
    padding: 0 10px; 
    ul {
      margin-bottom: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 0 !important;
  
  
      li {
        cursor: pointer;
        padding: 10px 0px;
        list-style: none;
        text-decoration: none;
        display: block;
        border-bottom: 3px solid $c-gray-98;
  
        &:hover {
          border-bottom: 3px solid $persian-blue;
        }
        
        &.active {
          border-bottom: 3px solid $persian-blue;
        }
        &.disabled {
          pointer-events: none;
        }
        a {
          font-size: 0.9rem;
          padding: 15px 10px;
          color: $c-gray-60;
        }
      }
    }
  }
}