@import './../variable';

.wrapper {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid $c-gray-95;

    .title {
      font-size: 1.1rem;
      font-weight: 400;
      color: $c-gray-40;
    }
  }

  .body {
    padding: 10px 10px;
    position: relative;


    .separator {
      font-size: 0.8rem;
      color: $c-gray-40;
      padding-top: 20px;
      border-top: 1px solid $c-gray-90;
      
    }
  }
}

.userList {
  padding: 10px 10px;
  overflow-y: scroll;

  .userContainer {
    // border-top: 1px solid $c-gray-90;
    .userWrapper {
      border: 1px solid $c-gray-98;
      padding: 10px 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .userInfo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .dp {
          margin-right: 10px;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }
        .nameAndDesination {
          .name {
            font-size: 1rem;
            color: $c-gray-40;
            display: block;
          }
          .designation {
            font-size: 0.75rem;
            color: $c-gray-60;
            display: block;
          }
        }
      }
  
      .action {
  
      }
    }
  }

  .showMore {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
  }

  .resultAppearText  {
    font-size: 0.8rem;
    color: $c-gray-40;
    padding: 10px 0;
    border-top: 1px solid $c-gray-90;
  }

  .noResultFound {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
  }
}