@import "./../variable";

.modalHeaderWrapper {
  padding: 0 10px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .modelTitle {
    color: $c-gray-30;
    font-weight: 500;
  }

  .actionWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon {
    cursor: pointer;
    background-color: transparent;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 1rem;
    border-radius: 50%;
    color: $c-gray-70;
    animation: 0.2s;

    &:hover {
      background-color: $c-gray-90;
      color: $c-gray-40;
    }
  }
}

.formWrapper {
  padding: 10px;

  .message {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 0.9rem;
    color: $c-gray-40;
  }
}