@import './../variable';

.messageBoxWrapper {
  padding-bottom: 5px;
  border-bottom: 1px solid $athens-gray;

  .singleMsgWrapper {
    padding: 1px 0;
    &:hover {
      background-color: $c-gray-98;
    }
  }

  &:last-child {
    border-bottom: none;
  }

  // &:first-child {
  //   border-top: 1px solid $athens-gray; 
  // }

  .profileWrapper {
    padding-top: 2px;

    .profileImage {
      width: 70px;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        margin-top: 4px;
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: $box-shadow-1
      }
    }

    .profileDetailWrapper {

      width: 100%;
      padding-right: 10px;
      .profileDetail {
        
  
        .name {
          font-weight: 500;
          font-size: 0.95rem;
          color: $c-gray-20;
        }
  
        .messagedOn {
          font-weight: 300;
          font-size: 0.75rem;
          margin-left: 10px;
        }
      }
    }
  }

  .groupMessageWrapper {
    display: flex;
    justify-content: flex-start;

    .emptyArea {
      width: 70px;
    }
  }

  // Quick Actions CSS
  position: relative;
}

.actionsContainer {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: $bg-color-1;
  border: 1px solid $c-gray-80;
  border-radius: 5px ;
  padding: 2px 5px;
  box-shadow: $box-shadow-1;
}

.messageOnInHHMM {
  display: none;
  font-size: 0.8rem;
}

@mixin messagePosAction {
  padding-right: 5px;
  position: relative;

  &:hover .actionsContainer {
    display: flex;
    align-items: center;
  }

  &:hover .messageOnInHHMM {
    display: block;
    align-items: center;
  }
  
  .quickActions {
    z-index: 11;
    position: absolute;
    right: 10px;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .actionsContainer {
      .icon {
        margin-top: -4px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 1.1rem;
        cursor: pointer;
      }
    }
  }
}

.messagePos1 {
  display: flex;
  align-items: flex-start;
  // @include messagePosAction;
}

.messagePosChild1 {
  display: flex;
  justify-content: center;
  align-items: center;
  // @include messagePosAction;
}

.messagePos {
  display: flex;
  align-items: flex-start;
  @include messagePosAction;
}

.messagePosChild {
  display: flex;
  justify-content: center;
  align-items: center;
  @include messagePosAction;
}

.messageTextWrapper {
  z-index: 10;
  padding: 0.8px;
}

.viewThread {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4px;
  font-size: 0.8rem;
  font-weight: 600;
  color: $c-gray-60;
  height: 40px;
  border: 0.5px solid $c-gray-80;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  .userImages{
    margin-left: 10px;
    margin-right: 20px;
    img{
      border-radius: 5px;
      height: 30px;
      width: 30px;
      margin-left: -5px;
      box-shadow: $box-shadow-1;
      border: 2px solid white;
    }
  }

  &:hover {
    background-color: $bg-color-1;
    // box-shadow: $box-shadow-1;
    color: $c-gray-60;
  }
}

// .messageParagraph {
//   &::after {
//     // margin-left: 5px;
//     content: '(Edited)';
//     color: $c-gray-80;
//     display: inline-block;
//     font-size: 0.70rem;
//   }
// }
