@import './../variable';

.threadWrapper {
  
  background-color: $bg-color-1;
  border-left: 1px solid $c-gray-80;
  
  .header {
    padding: 5px 5px;
    height: 70px;
    top: 0;
    position: sticky;
    background-color: $bg-color-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $c-gray-80;
    z-index: 10;

    .title {
      .heading {
        font-size: 1.2rem;
        font-weight: 600;
        margin-right: 10px;
      }
      .group {
        font-size: 0.9rem;
      }
    }
  }

  .container {
    
    height: calc(100vh - 110px); // 85px is height of text editor from computed property
    overflow-y: scroll;

    .separator {
      border-top: 1px solid $athens-gray;
      border-bottom: 1px solid $athens-gray;
      padding: 10px 10px;
      color: $c-gray-60;
      font-size: 0.9rem;
    }
  }

  .threadTextArea {
    z-index: 12;
    background-color: $bg-color-1;
    padding: 15px 10px;
    position: fixed;
    min-height: 90px;
    width: 80%;
    
  }
}