@import './../../variable';

.CloseIcon {
  border-radius: 50%;

  .icon {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
  }

  &:hover {
    cursor: pointer;
    background: $c-gray-98;
  }
}